@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #e3f9ff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #3a4452;
  padding: 20px;
  border-radius: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-container {
  width: 100%;
}

.all-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.normal-operator {
  background-color: #3a4452;
  color: white;
}
.special-operator {
  background-color: #5a6475;
  color: lightgreen;
}
input[type="text"] {
  width: 100%;
  outline: none;
  background-color: #5a6475;
  border-top: 1px solid #5a6475;
  border-left: 1px solid #5a6475;
  box-shadow: 3px 3px 6px #2d3440;
  border-radius: 5px;
  margin-block: 5px;
  color: white;
  border: none;
  padding: 10px 5px;
}

input[type="button"] {
  width: 24%;
  border-radius: 5px;
  border: none;
  margin: 5px;

  border-top: 1px solid #5a6475;
  border-left: 1px solid #5a6475;
  box-shadow: 3px 3px 6px #2d3440;
  /* background: transparent; */
  font-size: 20px;
  cursor: pointer;
}
